

  div{
    box-sizing:border-box;
  }

  :root{
    --page-width: 8.5in;
    --page-height: 11in;
  }

  body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;    
  }


  #page{

    width: var(--page-width);
    height: var(--page-height);
    hyphens: auto;
    padding: 0.5in 0.75in;
    margin: auto;
    /*box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);*/
    
  }

  #title{
    margin: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 30pt;
 }

  h1{
    font-size: 20pt;
    margin: 0pt;
  }

  hr {
    display: block;
    height: 2pt;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 2pt #000000;
    margin-bottom: 0pt;
    margin-top: 2pt;
}

  h2{
    font-size: 11pt;
    text-transform: uppercase;
    text-align: center;
    margin: 0pt;
  }

  div{
    margin: 0pt;
  }

  div.position{
    padding-top: 10pt;
    padding-left: 5pt;
    padding-right: 5pt;
  }

  div.position .basicinfo{
    display: flex; 
  }
  .blockleft, .blockright{
    width: 50%;
  }

  .blockright{
    text-align: right;
  }

  div.institution{
    font-weight: bold;
}
  
  div.title, div.date, div.location{
    font-style: italic;
    
  }

  li{
    padding-bottom: 3pt;
    line-height: 125%;
    
  }

  
  @media print {
    * {transition: none }
    body * {
      visibility: hidden; 
    }
    #page, #page * {
      visibility: visible; 
    }
    #page{
      position: absolute;
      left: 0;
      top: 0;
      margin: 0mm;
      padding: 0.25in 0.75in;
      border: 0pt solid black;
      font-family: 'PT Serif', serif;
   }
  }
  