<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="resume.css", media="screen, print">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  </head>
  <body lang="en">
    <div id="page">
    {% with h = header %}
    <header id="title">
      <div><h1>{{ h.name }}</h1></div>
      <div><span>{{ h.address }}</span></div>
      <div><span>{{ h.phone }}</span><span> | </span><span>{{ h.email }}</span></div>
     </header>
    {% endwith %}
    
    {% for section in body %}
      <header>
        <h2>{{ section.section }}</h2>

        <hr>
      {% for position in section.positions %}
        <div class="position"> 
          <div class="basicinfo">
          <div class="blockleft">
            <div class="institution">{{ position.institution }}</div>
            <div class="title">{{ position.title }}</div>
          </div>
          <div class="blockright">
            <div class="location">{{ position.location }}</div>
            <div class="date">{{ position.date }}</div>
          </div>
          </div>
          {% if position.bullets %}
          <div class="bullets">
            <ul> 
            {% for b in position.bullets %}
            <li>{{ b }}</li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      {% endfor %}
        {% if section.bullets %}
        <div class="bullets">
          <ul> 
          {% for b in section.bullets %}
          <li>{{ b }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
    {% endfor %}      
  </div>
  </body>
</html>
